version: '3.8'

services:
  api:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db
      - minio
    environment:
      - POSTGRES_DSN=host=db user=admin password=secret dbname=waste_db port=5432 sslmode=disable TimeZone=Africa/Lusaka
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
      - MINIO_BUCKET=kyc-docs
      - JWT_SECRET=supersecretzambiankey
    networks:
      - waste-net

  ai-service:
    build: ./ai-service
    ports:
      - "5000:5000"
    networks:
      - waste-net

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: waste_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - waste-net

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    volumes:
      - minio-data:/data
    networks:
      - waste-net

volumes:
  postgres-data:
  minio-data:

networks:
  waste-net:
    driver: bridge
